@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/Assets/logo_trailz.png"  alt="Trailz" title="Trailz" width="50" height="50"/>
<h1 class="text-danger">Oops... You went on the wrong trail !</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


