@{
    ViewData["Title"] = "Privacy Policy Trailz";
}

<div class="row">
    <div class="col-lg-12 text-left">
        <h2>
            @ViewData["Title"]
        </h2>
        <h3>Article 1: Legal Information</h3>
        Trailz operates in accordance with the GDPR (implementation as per 25th of May 2018) with regard to processing personal data.<br><br>

        Trailz is responsible for processing your personal data.<br><br>

        Contact details Responsible Data Protection Officer: privacy@Trailz.be <br><br>

        <h3>Article 2: Definitions</h3>
        “Website(s)”: http://www.Trailz.be<br>
        "Client” or "you" and derivative terms of those: any person who uses or has used the site and/or views or has viewed the site.<br>
        "GDPR” Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).<br>
        “Personal Data”: All information related to identified or identifiable persons.<br><br>

        Article 3: Purposes of processing Client’s Personal Data is collected for the purpose of client identification (KYC) in line with the Belgian Anti- Money Laundering Legislation. The Personal Data is used only by Trailz.<br><br>

        Client's Personal Data are kept strictly confidential and will under no circumstances be communicated to third parties, in or outside of Europe except external technical service providers in Europe.<br>
        Client’s Personal Data will not be used for direct marketing purposes, unless Trailz has received the client's explicit prior permission to do so ("opt-in").<br><br>

        You can withdraw your permission on http://www.Trailz.be at any time, without giving reason and free of charge by sending an e-mail to privacy@Trailz.be.<br><br>

        <h3>Article 4: Processing personal data</h3>
        Personal Data that you share will be used to improve management of our website and facilitate better provision of service;<br>
        Trailz uses your language preference in order to, where applicable, provide you the relevant information in the language of your choice.<br><br>

        GDPR is applicable to all processing of Personal Data. Moreover, Trailz will not give your Personal Data to third parties, in any case, unless you personally give consent (for example, in the context of client registration or Website registration). Additionally, you can oppose any further use of your data at any time and free of charge by sending us a simple request by sending an e-mail to privacy@Trailz.be.<br><br>

        You have the right to ask for additional data from the Commission for the Protection of Privacy, Drukpersstraat 35, 1000 Brussels or through the website www.privacycommission.be. HRD Antwerp has registered its files with the Commission and they are recognized. You acknowledge that responsibility for material accuracy of the personal data provided rests solely with you.<br><br>

        <h3>Article 5: Right of access, correction and erasure</h3>
        Clients have the right, at any time and free of charge, to access their Personal Data and to improve or change them, by using the dedicated form or by sending an e-mail to stijn@Trailz.be.<br><br>

        Client is free to request a removal of any Personal Data. Trailz will remove the Personal Data when allowed to do so under mandatory legal obligations such as the Anti-Money Laundering Legislation. However, please note that if the Client does withdraw his consent, his client registration will be deleted.<br><br>

        We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example, developing a new system or fundamentally changing an existing practice) or risk the privacy of others.<br><br>

        <h3>Article 6: Right of opposition and complaints</h3>
        GDPR registered Clients may exercise their right to oppose processing their Personal Data, for serious and legitimate reasons, by sending an e-mail to stijn@Trailz.be, provided they enclose a copy of the front of Client's identity card. These serious and legitimate reasons include: contesting of accuracy of Personal Data, tentative unlawfulness of processing and requirement of keeping the relevant data for the establishment, exercise or defense of legal claims. Clients also have the right to file a complaint with the Belgian Privacy Commission: phone: 02 / 274 48 00, email: commission@privacycommission.be<br><br>

        <h3>Article 7: Right of data portability</h3>
        Clients have the right to receive their personal data, provided to Trailz, in a csv file at any time by sending an e-mail to privacy@Trailz.be<br><br>

        <h3>Article 8: Retention Period</h3>
        The Anti-Money Laundering Legislation requires Trailz to keep all client information, including personal data, for at least 5 years after termination of the business relationship with the Client. This period starts as of determination of the Client Agreement.<br>
        E-mail addresses, only required to send newsletters, will be updated on an annual basis. They will be deleted immediately upon request.<br><br>

        <h3>Article 9: Security and confidentiality</h3>
        On both an organizational and technical level, Trailz has developed and adapted security measures, regarding personal information collected, to avert unauthorized destruction, loss, alteration, modification, unauthorized access or accidental communication to third parties, as well as any other unauthorized data processing. <br>
        In any event, Trailz cannot be held liable for any direct or indirect damages resulting from the wrongful or unlawful use of your personal data by a third party. Trailz makes a point of notifying the Client that websites link, hyperlinks or references may contain websites from third parties. Trailz recommends that Clients read carefully the privacy policy of every website they visit – they may differ from this Privacy Policy.<br><br>

        <h3>Article 10: Modifications</h3>
        If Trailz should need to use processes that are not provided for in this Privacy Policy, before using Personal Data, Trailz will contact Clients by e-mail to inform them about the new process and allow the opportunity to refuse. Trailz has the right to change its Privacy Policy at any time, and they will automatically apply, after notification, to all existing Clients.<br><br>

        <h3>Article 11: Governing law and jurisdiction stipulation</h3>
        This Privacy Policy shall be governed, interpreted and enforced in accordance with Belgian law including the GDPR, which applies exclusively for any litigation. Antwerp courts have exclusive jurisdiction to rule on any dispute that may arise from the interpretation or implementation of this Privacy Policy.<br><br>

        <h3>Article 12: Acceptance</h3>
        By using the Website, the client accepts all the provisions of this Privacy Policy, and agrees that Trailz collects and processes personal data in accordance with this Privacy Policy. Article 13: Contact
        Persons requesting any additional information, comments, complaints or disputes concerning this Privacy Policy or concerning manner in which HRD Antwerp collects data should communicate with Trailz via registered mail to the following address: Trailz Protection Officer - Appelmansstraat 25 - shop 21 – 2018 Antwerp, Belgium or by sending an e-mail to privacy@Trailz.be. Trailz communicates any notification to the client through the Website or by email to the Client.<br><br>

        <h3>Article 14: Third Parties</h3>
        Occasionally Trailz will appeal to an external technical service provider for the processing of some data. Trailz will always ensure that any Personal Data is handled confidentially and in a safe manner. All processors are required to conform with the GDPR. The processor is not allowed to use your data on their own initiative and your data will be as soon as the processor has finished the assignment.<br><br>

        Trailz will only transfer Personal Data for marketing purposes after explicit consent of the Client. Trailz will never transfer Personal Data for marketing purposes to third parties. Trailz will only disclose Personal Data to governmental authorities in cases where it is required by law or in the context of compulsory data exchange. Trailz’ employees are obliged to respect confidentiality and GDPR obligations.<br><br>

        <h3>Article 15: Links to other sites</h3>
        This Privacy Policy only applies to this website and not to any website owned by a third party. Trailz can provide links to other websites which it believes may be of interest to our visitors. Trailz is not responsible for the content and privacy regulations of these websites nor the products or services they offer. Trailz aims to ensure that such websites are of the highest standard. However, Trailz cannot guarantee the privacy standard of websites to which it links.

    </div>
</div>