@{
    ViewData["Title"] = "Support";
}
<!--https://getbootstrap.com/docs/4.0/components/jumbotron/-->
<div class="jumbotron">
    <h1 class="display-4"><i class="fas fa-info-circle"></i> Support </h1>
    <p class="lead">If you have questions or if you have issues with this website, feel free to contact our support team.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="mailto:stijn.beckers@student.thomasmore.be" role="button"><i class="fas fa-envelope-open"></i> Send your message</a>
    </p>
</div>