@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Oops.... Did you forget your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>Enter your here your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary"> <i class="fas fa-arrow-right"></i> Submit</button>
        </form>
    </div>
    <div class="col-md-8">
        <img src="https://source.unsplash.com/WLUHO9A_xik/1600x900" class="img-fluid rounded" alt="Trailz" title="Trailz">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
